/* ---------------------------------------- */
/* MAIN */
/* ---------------------------------------- */
html, body {
    font-family: "Lato", sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: #555;
    background-color: #F5F5F5;
    margin-top: 40px;
}

/* ---------------------------------------- */
/* REUSABLE */
/* ---------------------------------------- */
.container {
    width: 1280px;
}

h2 {
    text-align: center;
    color: #555;
    margin-bottom: 40px;
}

h4 {
    text-align: center;
    color: #FFD602;
}

/* ---------- Navbar ---------- */
.navbar {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background-color: #333;
    border-color: #333;
}

.navbar-inverse .navbar-nav>li>a {
    color: #e6e6e6;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    transition: all ease 0.5s;
}

.navbar-inverse .navbar-nav>li>a:hover {
    color: #FFD602 !important;
}

.selected-nav-item>a {
    color: #FFD602 !important;
}

.logout button {
    margin-top: 5px;
    background-color: #333;
    border-color: #333;
    font-size: 20px;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    transition: all ease 0.5s;
}

.logout button:hover,
.logout button:active,
.logout button:visited {
    background-color: #333;
    border-color: #333;
    color: #FFD602;
}

.dropdown-toggle:active, .open .dropdown-toggle {
    background-color: #333 !important;
    border-color: #333 !important;
}

.btn-primary.focus, .btn-primary:focus {
    background-color: #333;
    border-color: #333;
}

.btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none;
}

.username-logout {
    text-align: center;
    font-size: 18px;
    padding-bottom: 10px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

/* ---------- Filters ---------- */
.filters-container {
    background-color: #FFF;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    padding: 10px 10px 30px;
    font-size: 16px;
}

.filters-container ul {
    padding-bottom: 20px;
}

.filters-list {
    list-style-type: none;
    margin: 0;
}


/* ---------- Restaurants ---------- */
.restaurant {
    width: 90%;
    height: 180px;
    background-color: #FFF;
    margin: 0 auto 18px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

.restaurant .col-sm-4 {
    margin: 10px 0;
}

.restaurant img {
    display: block;
    margin: 7.5% auto 0;
    vertical-align: center;
    width: 85%;
    height: 85%;
    border-radius: 8px;
}

.restaurant-header {
    text-align: center;
    font-size: 24px;
}

.stars {
    width: 109px;
    margin: 0 auto 10px;
}

.checked {
    color: #FFD602;
}

.restaurant .info {
    font-size: 18px;
}

.restaurant .about-label-green {
    display: inline-block;
    text-align: center;
    width: 90px;
    height: 20px;
    background: #4BB543;
    color: white;
    font-size: 14px;
    margin-top: 20px;
}

.restaurant .about-label-gray {
    display: inline-block;
    text-align: center;
    width: 90px;
    height: 20px;
    background: #737373;
    color: white;
    font-size: 14px;
    margin-top: 20px;
}

.restaurant .about {
    padding: 20px 0;
    font-size: 16px;
}