/* ---------------------------------------- */
/* MAIN */
/* ---------------------------------------- */
html, body {
    font-family: "Lato", sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: #555;
    background-color: #F5F5F5;
    margin-top: 40px;
}

/* ---------------------------------------- */
/* REUSABLE */
/* ---------------------------------------- */
.container {
    width: 1280px;
}

h2 {
    text-align: center;
    color: #555;
    margin-bottom: 40px;
}

h4 {
    text-align: center;
    color: #FFD602;
}

/* ---------- Navbar ---------- */
.navbar {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background-color: #262626;
    border-color: #262626;
}

.navbar-inverse .navbar-nav>li>a {
    color: #e6e6e6;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    transition: all ease 0.5s;
}

.navbar-inverse .navbar-nav>li>a:hover {
    color: #FFD602 !important;
}

.selected-nav-item>a {
    color: #FFD602 !important;
}

.logout button {
    margin-top: 5px;
    background-color: #262626;
    border-color: #262626;
    font-size: 20px;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    transition: all ease 0.5s;
}

.logout button:hover,
.logout button:active,
.logout button:visited {
    background-color: #262626;
    border-color: #262626;
    color: #FFD602;
}

.dropdown-toggle:active, .open .dropdown-toggle {
    background-color: #262626 !important;
    border-color: #262626 !important;
}

.btn-primary.focus, .btn-primary:focus {
    background-color: #262626;
    border-color: #262626;
}

.btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none;
}

.username-logout {
    text-align: center;
    font-size: 18px;
    padding-bottom: 10px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

/* ---------- Filters ---------- */
.filters-container {
    background-color: #fff;
    border-radius: 10px;
    padding: 10px 10px 30px;
    font-size: 16px;
}

.filters-container ul {
    padding-bottom: 20px;
}

.filters-list {
    list-style-type: none;
    margin: 0;
}